pkgbase = voiceagent
	pkgdesc = KDE-friendly desktop voice assistant
	pkgver = 0.11.1
	pkgrel = 1
	url = https://github.com/pizzimenti/voiceagent
	arch = x86_64
	license = MIT
	options = !strip
	options = !debug
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-pip
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	depends = pyside6
	depends = aria2
	depends = portaudio
	source = voiceagent-0.11.1.tar.gz::https://github.com/pizzimenti/voiceagent/archive/refs/tags/v0.11.1.tar.gz
	sha256sums = SKIP

pkgname = voiceagent
