av==17.0.0
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.6
ctranslate2==4.7.1
filelock==3.25.2
faster-whisper==1.2.1
flatbuffers==25.12.19
fsspec==2026.3.0
hf-xet==1.4.2
huggingface_hub==0.36.2
idna==3.11
mpmath==1.3.0
numpy==2.4.4
onnxruntime==1.24.4
piper-tts==1.4.1
protobuf==7.34.1
pycparser==3.0
PyYAML==6.0.3
requests==2.33.1
sounddevice==0.5.5
sympy==1.14.0
tokenizers==0.22.2
tqdm==4.67.3
typing-extensions==4.15.0
urllib3==2.6.3
